<aside class="sidebar">

    <div class="logo-section">

        <div class="logo-icon">
            <i class="ph ph-garage"></i>
        </div>

        <div>
            <h2>NyondoStock</h2>
            <p>
            <span>
                {% for group in request.user.groups.all %}
                {{ group.name }}
                {% endfor %}
            </span>
            </p>
        </div>

    </div>

    {% for group in request.user.groups.all %}

    {% if group.name == 'ADMIN' or group.name == 'MANAGER' %}

        <nav class="nav-menu">

        <a href="{% url 'manager_dashboard' %}"
        class="nav-item {% if request.resolver_match.url_name == 'manager_dashboard' %}active{% endif %}">

            <i class="ph ph-squares-four"></i>

            Dashboard

        </a>

        <a href="{% url 'product_list' %}"class="nav-item {% if request.resolver_match.url_name == 'product_list' %}active{% endif %}">

            <i class="ph ph-package"></i>

            Products

        </a>
        <a href="{% url 'stock_history' %}"class="nav-item {% if request.resolver_match.url_name == 'stock_history' %}active{% endif %}">

            <i class="ph ph-file-text"></i>

            Stock Records

        </a>


        

        <a href="{% url 'supplier_list' %}"
        class="nav-item {% if request.resolver_match.url_name == 'supplier_list' %}active{% endif %}">

            <i class="ph ph-truck"></i>

            Suppliers

        </a>

        <a href="{% url 'register_stock' %}"
        class="nav-item {% if request.resolver_match.url_name == 'register_stock' %}active{% endif %}">

            <i class="ph ph-plus-circle"></i>

            Register Stock

        </a>

        <a href="{% url 'stock_adjustments' %}"
        class="nav-item {% if request.resolver_match.url_name == 'stock_adjustments' %}active{% endif %}">

            <i class="ph ph-arrows-clockwise"></i>

            Stock Adjustments

        </a>

        <a href="{% url 'low_stock' %}"
        class="nav-item {% if request.resolver_match.url_name == 'low_stock' %}active{% endif %}">

            <i class="ph ph-warning-circle"></i>

            Low Stock

        </a>

        <a href="{% url 'category_list' %}"class="nav-item {% if request.resolver_match.url_name == 'category_list' %}active{% endif %}">
            <i class="ph ph-squares-four"></i>
            Categories
        </a>

        <a href="{% url 'pricing_list' %}" class="nav-item {% if request.resolver_match.url_name == 'pricing_list' %}active{% endif %}">
    
            <i class="ph ph-currency-circle-dollar"></i>
            Pricing
        </a>

        <a href="{% url 'reports_dashboard' %}" class="nav-item {% if request.resolver_match.url_name == 'reports_dashboard' %}active{% endif %}">
    
           
            <i class="ph ph-chart-bar"></i>
            Reports
        </a>

        
    </nav>

    {% endif %}

    {% if group.name == 'ADMIN' or group.name == 'ATTENDANT' %}
    <nav class="nav-menu">
        <a href="{% url 'attendant_dashboard' %}"
        class="nav-item {% if request.resolver_match.url_name == 'attendant_dashboard' %}active{% endif %}">

            <i class="ph ph-squares-four"></i>

            Dashboard

        </a>
        <a href="{% url 'create_sale' %}"class="nav-item {% if request.resolver_match.url_name == 'create_sale' %}active{% endif %}">
            <i class="ph ph-shopping-cart"></i>
            Add New Sale
        </a>
        <a href="{% url 'sales_history' %}"class="nav-item {% if request.resolver_match.url_name == 'sales_history' %}active{% endif %}">
            <i class="ph ph-file-text"></i>
            Sales Records
        </a>

        <a href="#" class="nav-item">
            <i class="ph ph-credit-card"></i>
            Approved Deposits
        </a>
        
        <a href="#"
        class="nav-item">
            <i class="ph ph-truck"></i>
        
            Deliveries
        </a>
        
        <a href="#"
        class="nav-item">
            <i class="ph ph-receipt"></i>
            Receipts
        </a>


    </nav>

    {% endif %}


    {% endfor %}

   
    

    <div class="sidebar-footer">

        <div class="avatar">

            {{ request.user.username|slice:":2"|upper }}

        </div>

        <div class="user-details">
            
             <div style="display: inline-block;">
            <strong>
                {{ request.user.username }}
            </strong>

            <span>
                {% for group in request.user.groups.all %}
                {{ group.name }}
                {% endfor %}
            </span>
            </div>
            <a href="{% url 'logout' %}" class="logout-btn">
                <i class="ph ph-sign-out"></i>
            </a>
        </div>

    </div>

</aside>