{% extends 'manager/base_manager.html' %} 
{% block page_title %} 
Suppliers 
{% endblock %} 

{% block content %}

<div class="page-header">
  <div>
    <h2 class="page-title">Suppliers</h2>

    <p class="page-subtitle">Manage hardware suppliers</p>
  </div>

  <a href="{% url 'add_supplier' %}" class="btn btn-primary"> Add Supplier </a>
  <a
    href="{% url 'supplier_credit' %}"
    class="btn btn-primary"
    style="float: right; margin-left: 10px"
  >
    <i class="ph ph-wallet"></i>

    Supplier Credit
  </a>
</div>

<div class="search-box">
  <i class="ph ph-magnifying-glass"></i>

  <input type="text" placeholder="Search suppliers..." />
</div>
<div class="card table-card table-responsive">
  <table>
    <thead>
      <tr>
        <th>Supplier</th>

        <th>Contact Person</th>

        <th>Phone</th>

        <th>City</th>

        <th>Balance Due</th>

        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for supplier in suppliers %}

      <tr>
        <td>{{ supplier.supplier_name }}</td>

        <td>{{ supplier.contact_person }}</td>

        <td>{{ supplier.phone_number }}</td>

        <td>{{ supplier.city }}</td>

        <td>UGX {{ supplier.balance_due }}</td>

        <td>
          <div class="action-buttons">
            <a
              href="{% url 'supplier_details' supplier.id %}"
              class="btn-action action-btn view"
            >
              <i class="ph ph-eye"></i>
            </a>
            <a
              href="{% url 'edit_supplier' supplier.id %}"
              class="btn-icon edit"
            >
              <i class="ph ph-pencil-simple"></i>
            </a>

            <a
              href="{% url 'delete_supplier' supplier.id %}"
              class="btn-icon delete"
            >
              <i class="ph ph-trash"></i>
            </a>
          </div>
        </td>
      </tr>

      {% empty %}
      <tr>
        <td colspan="6">
          <div class="empty-state">
            <i class="ph ph-users"></i>

            <p>No suppliers added yet.</p>
          </div>
        </td>

        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
<style>
  .action-btn {
    width: 38px;

    height: 38px;

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 10px;

    background: #ecfeff;

    color: #0891b2;

    text-decoration: none;
  }
  .action-buttons {
    display: flex;
    gap: 10px;
  }

  .btn-icon {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
  }

  .btn-icon.edit {
    background: #0ea5e9;
  }

  .btn-icon.delete {
    background: #ef4444;
  }
</style>
{% endblock %}
