{% extends 'manager/base_manager.html' %}

{% block page_title %}
Approve Pickup
{% endblock %}

{% block content %}

<div class="approval-card">

    <h2>Approve Goods Pickup</h2>

    <p>

        Customer:
        <strong>
            {{ pickup.customer.customer_name }}
        </strong>

    </p>

    <p>

        Requested Amount:
        <strong>
            UGX {{ pickup.total_amount }}
        </strong>

    </p>

    <form method="POST">

        {% csrf_token %}

        <button type="submit" class="approve-btn">

            Approve Pickup

        </button>

    </form>

</div>

<style>

.approval-card{
    max-width:600px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:var(--shadow);
}

.approve-btn{
    margin-top:20px;
    background:#15803d;
    color:white;
    border:none;
    padding:14px 20px;
    border-radius:12px;
    cursor:pointer;
    font-weight:700;
}

</style>

{% endblock %}