{% extends 'manager/base_manager.html' %}

{% block content %}

<div class="container">

    <h2>Record Supplier Payment</h2>

    <a href="{% url 'supplier_credit_dashboard' %}" class="btn back-btn btn-secondary mb-3">
        Back
    </a>

    <div class="form-card p-4">

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit"
                    class="btn btn-success">

                Record Payment

            </button>

        </form>

    </div>

</div>
<style>
    .back-btn{
    text-decoration:none;
    color:#1abc9c;
    font-weight:600;
}
.form-card{
    background:white;
    border-radius:22px;
    padding:30px;
    box-shadow:var(--shadow);
}

</style>

{% endblock %}