{% extends 'manager/base_manager.html' %}

{% block page_title %}
Record Deposit
{% endblock %}

{% block content %}

<div class="form-container form-card ">

    <div class="form-header">

        <h2>Record Deposit Payment</h2>

    </div>

    <form method="POST" class="main-form">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="submit-btn btn btn-primary">

            Save Deposit

        </button>

    </form>

</div>
<style>

.form-card{
    background:white;
    border-radius:22px;
    padding:30px;
    box-shadow:var(--shadow);
}

</style>
{% endblock %}